In [1]:
# encoding: utf-8
import configparser
config = configparser.ConfigParser()
config['mariadb'] = {}

# それぞれ値を入力する
config['mariadb']['username'] = 'root'
config['mariadb']['password'] = '8589'
config['mariadb']['database'] = 'data_analysis'

with open('config.ini', 'w') as configfile:
    config.write(configfile)

In [2]:
# encoding: utf-8
from lxml import etree
from tqdm import tqdm_notebook as tqdm
import pandas as pd
import glob
import sqlalchemy as sa
import sqlalchemy.ext.declarative
import pymysql
import configparser

In [3]:
tree = etree.parse('grants_masterxml_kaken/institution_master_kakenhi.xml')

institutionlist = []
for institution_table in tree.iterfind("institution_table"):
    for institution in institution_table.iterfind("institution"):
        institutionname = institution.find("name[@lang='ja']").text
        for code in institution.iterfind("code"):
            row = [
                code.get("type"),
                code.text,
                institutionname,
            ]
            institutionlist.append(row)
            
df = pd.DataFrame(institutionlist)
df.columns = ['code_type', 'code_number', 'institution_name']
df

       code_type code_number                    institution_name
0            nii     0010101                               北海道大学
1           mext       10101                               北海道大学
2           jsps       10101                               北海道大学
3            nii     0010102                             北海道教育大学
4           mext       10102                             北海道教育大学
5           jsps       10102                             北海道教育大学
6            nii     0010103                              室蘭工業大学
7           mext       10103                              室蘭工業大学
8           jsps       10103                              室蘭工業大学
9            nii     0010104                              小樽商科大学
10          mext       10104                              小樽商科大学
11          jsps       10104                              小樽商科大学
12           nii     0010105                              帯広畜産大学
13          mext       10105                              帯広畜産大学
14          jsps       10105                              帯広畜産大学
15           nii     0010106                              北見工業大学
16          mext       10106                              北見工業大学
17          jsps       10106                              北見工業大学
18           nii     0010107                              旭川医科大学
19          mext       10107                              旭川医科大学
20          jsps       10107                              旭川医科大学
21           nii     0011101                                弘前大学
22          mext       11101                                弘前大学
23          jsps       11101                                弘前大学
24           nii     0011201                                岩手大学
25          mext       11201                                岩手大学
26          jsps       11201                                岩手大学
27           nii     0011301                                東北大学
28          mext       11301                                東北大学
29          jsps       11301                                東北大学
...          ...         ...                                 ...
184196      mext       64402                             国立国際美術館
184197       nii     0064601                             奈良国立博物館
184198      mext       64601                             奈良国立博物館
184199       nii     0064602                          奈良国立文化財研究所
184200      mext       64602                          奈良国立文化財研究所
184201       nii     0081402                          秋田県高度技術研究所
184202      mext       81402                          秋田県高度技術研究所
184203       nii     0081403                         秋田県工業技術センター
184204      mext       81403                         秋田県工業技術センター
184205       nii     0082605                        東京都神経科学総合研究所
184206      mext       82605                        東京都神経科学総合研究所
184207       nii     0082608                             国立多摩研究所
184208      mext       82608                             国立多摩研究所
184209       nii     0082615                            日本進路指導協会
184210      mext       82615                            日本進路指導協会
184211       nii     0083202                         富山市科学文化センター
184212      mext       83202                         富山市科学文化センター
184213       nii      382757             国立障害者リハビリテーションセンター(研究所)
184214      mext       82404             国立障害者リハビリテーションセンター(研究所)
184215       nii      382761                国立研究開発法人国立国際医療研究センター
184216      mext       82610                国立研究開発法人国立国際医療研究センター
184217       nii      382773     独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
184218      mext       83904     独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
184219       nii      382783  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184220      mext       87402  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184221      jsps       87402  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184222       nii      382868                       奈良県農業研究開発センター
184223      mext       84605                       奈良県農業研究開発センター
184224       nii      382699                国際連合大学サステイナビリティ高等研究所
184225      mext       82691                国際連合大学サステイナビリティ高等研究所

[184226 rows x 3 columns]

In [4]:
df.duplicated().any()

True

In [5]:
df = df.drop_duplicates()
df

       code_type code_number                    institution_name
0            nii     0010101                               北海道大学
1           mext       10101                               北海道大学
2           jsps       10101                               北海道大学
3            nii     0010102                             北海道教育大学
4           mext       10102                             北海道教育大学
5           jsps       10102                             北海道教育大学
6            nii     0010103                              室蘭工業大学
7           mext       10103                              室蘭工業大学
8           jsps       10103                              室蘭工業大学
9            nii     0010104                              小樽商科大学
10          mext       10104                              小樽商科大学
11          jsps       10104                              小樽商科大学
12           nii     0010105                              帯広畜産大学
13          mext       10105                              帯広畜産大学
14          jsps       10105                              帯広畜産大学
15           nii     0010106                              北見工業大学
16          mext       10106                              北見工業大学
17          jsps       10106                              北見工業大学
18           nii     0010107                              旭川医科大学
19          mext       10107                              旭川医科大学
20          jsps       10107                              旭川医科大学
21           nii     0011101                                弘前大学
22          mext       11101                                弘前大学
23          jsps       11101                                弘前大学
24           nii     0011201                                岩手大学
25          mext       11201                                岩手大学
26          jsps       11201                                岩手大学
27           nii     0011301                                東北大学
28          mext       11301                                東北大学
29          jsps       11301                                東北大学
...          ...         ...                                 ...
183725       nii     0082615                            日本進路指導協会
183726      mext       82615                            日本進路指導協会
183727       nii     0083202                         富山市科学文化センター
183728      mext       83202                         富山市科学文化センター
183729       nii     0083904                   国立名古屋病院(臨床研究センター)
183730      mext       83904                   国立名古屋病院(臨床研究センター)
183731       nii     0084605                         奈良県農業技術センター
183732      mext       84605                         奈良県農業技術センター
183733       nii     0087402                         熊本県工業技術センター
183734      mext       87402                         熊本県工業技術センター
183735      jsps       87402                         熊本県工業技術センター
183795       nii      382759                          国立国際医療センター
183796      mext       82610                          国立国際医療センター
183856       nii      382773     独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
183857      mext       83904     独立行政法人国立病院機構(名古屋医療センター臨床研究センター)
183917       nii      382867                         奈良県農業総合センター
183918      mext       84605                         奈良県農業総合センター
183972       nii      382757             国立障害者リハビリテーションセンター(研究所)
183973      mext       82404             国立障害者リハビリテーションセンター(研究所)
184036       nii      382783  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184037      mext       87402  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184038      jsps       87402  熊本県産業技術センター(ものづくり室、材料・地域資源室、食品加工室)
184093       nii      382760                  独立行政法人国立国際医療研究センター
184094      mext       82610                  独立行政法人国立国際医療研究センター
184161       nii      382868                       奈良県農業研究開発センター
184162      mext       84605                       奈良県農業研究開発センター
184215       nii      382761                国立研究開発法人国立国際医療研究センター
184216      mext       82610                国立研究開発法人国立国際医療研究センター
184224       nii      382699                国際連合大学サステイナビリティ高等研究所
184225      mext       82691                国際連合大学サステイナビリティ高等研究所

[6828 rows x 3 columns]

In [6]:
Base = sa.ext.declarative.declarative_base()

class Institution(Base):
    __tablename__ = 'kaken_master_institution'
    id = sa.Column(sa.Integer, primary_key=True)
    code_type = sa.Column(sa.String(256))
    code_number = sa.Column(sa.Integer)
    institution_name = sa.Column(sa.String(256))

In [7]:
config = configparser.ConfigParser()
config.read('config.ini')
username = config['mariadb']['username']
password = config['mariadb']['password']
database = config['mariadb']['database']
url = 'mysql+pymysql://' + username + ':' + password + '@localhost:3306/' + database + '?charset=utf8'

In [8]:
engine = sa.create_engine(url, echo=True)
Base.metadata.create_all(engine)
df.to_sql('kaken_master_institution', engine, if_exists='replace')

2018-05-17 20:45:03,163 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-05-17 20:45:03,178 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,178 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-05-17 20:45:03,178 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,194 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-05-17 20:45:03,194 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,194 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-05-17 20:45:03,194 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:03,210 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,225 INFO sqlalchemy.engine.base.Engine ROLLBACK
2018-05-17 20:45:03,225 INFO sqlalchemy.engine.base.Engine
CREATE TABLE kaken_master_institution (
	id INTEGER NOT NULL AUTO_INCREMENT,
	code_type VARCHAR(256),
	code_number INTEGER,
	institution_name VARCHAR(256),
	PRIMARY KEY (id)
)


2018-05-17 20:45:03,241 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,272 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:03,288 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:03,288 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,303 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:03,303 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,303 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `data_analysis`
2018-05-17 20:45:03,319 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,350 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `kaken_master_institution`
2018-05-17 20:45:03,350 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,366 INFO sqlalchemy.engine.base.Engine
DROP TABLE kaken_master_institution
2018-05-17 20:45:03,366 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,397 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:03,413 INFO sqlalchemy.engine.base.Engine
CREATE TABLE kaken_master_institution (
	`index` BIGINT,
	code_type TEXT,
	code_number TEXT,
	institution_name TEXT
)


2018-05-17 20:45:03,413 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,444 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:03,460 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_kaken_master_institution_index ON kaken_master_institution (`index`)
2018-05-17 20:45:03,460 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:03,491 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:03,507 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-17 20:45:03,585 INFO sqlalchemy.engine.base.Engine INSERT INTO kaken_master_institution (`index`, code_type, code_number, institution_name) VALUES (%(index)s, %(code_type)s, %(code_number)s, %(institution_name)s)
2018-05-17 20:45:03,585 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'code_type': 'nii', 'code_number': '0010101', 'institution_name': '北海道大学'}, {'index': 1, 'code_type': 'mext', 'code_number': '10101', 'institution_name': '北海道大学'}, {'index': 2, 'code_type': 'jsps', 'code_number': '10101', 'institution_name': '北海道大学'}, {'index': 3, 'code_type': 'nii', 'code_number': '0010102', 'institution_name': '北海道教育大学'}, {'index': 4, 'code_type': 'mext', 'code_number': '10102', 'institution_name': '北海道教育大学'}, {'index': 5, 'code_type': 'jsps', 'code_number': '10102', 'institution_name': '北海道教育大学'}, {'index': 6, 'code_type': 'nii', 'code_number': '0010103', 'institution_name': '室蘭工業大学'}, {'index': 7, 'code_type': 'mext', 'code_number': '10103', 'institution_name': '室蘭工業大学'}  ... displaying 10 of 6828 total bound parameter sets ...  {'index': 184224, 'code_type': 'nii', 'code_number': '382699', 'institution_name': '国際連合大学サステイナビリティ高等研究所'}, {'index': 184225, 'code_type': 'mext', 'code_number': '82691', 'institution_name': '国際連合大学サステイナビリティ高等研究所'})
2018-05-17 20:45:03,866 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
engine = sa.create_engine(url, echo=True)
Base.metadata.create_all(engine)
df.to_sql('kaken_master_institution', engine, if_exists='replace')

2018-05-17 20:45:10,716 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-05-17 20:45:10,716 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,716 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-05-17 20:45:10,716 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,732 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-05-17 20:45:10,732 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,732 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-05-17 20:45:10,732 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,732 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-05-17 20:45:10,747 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,747 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-05-17 20:45:10,747 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,747 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:10,747 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,763 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:10,779 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,779 INFO sqlalchemy.engine.base.Engine DESCRIBE `kaken_master_institution`
2018-05-17 20:45:10,779 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,794 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `data_analysis`
2018-05-17 20:45:10,794 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,810 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `kaken_master_institution`
2018-05-17 20:45:10,810 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,810 INFO sqlalchemy.engine.base.Engine
DROP TABLE kaken_master_institution
2018-05-17 20:45:10,810 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,841 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:10,841 INFO sqlalchemy.engine.base.Engine
CREATE TABLE kaken_master_institution (
	`index` BIGINT,
	code_type TEXT,
	code_number TEXT,
	institution_name TEXT
)


2018-05-17 20:45:10,841 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,872 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:10,888 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_kaken_master_institution_index ON kaken_master_institution (`index`)
2018-05-17 20:45:10,888 INFO sqlalchemy.engine.base.Engine {}
2018-05-17 20:45:10,919 INFO sqlalchemy.engine.base.Engine COMMIT
2018-05-17 20:45:10,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-05-17 20:45:10,982 INFO sqlalchemy.engine.base.Engine INSERT INTO kaken_master_institution (`index`, code_type, code_number, institution_name) VALUES (%(index)s, %(code_type)s, %(code_number)s, %(institution_name)s)
2018-05-17 20:45:10,982 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'code_type': 'nii', 'code_number': '0010101', 'institution_name': '北海道大学'}, {'index': 1, 'code_type': 'mext', 'code_number': '10101', 'institution_name': '北海道大学'}, {'index': 2, 'code_type': 'jsps', 'code_number': '10101', 'institution_name': '北海道大学'}, {'index': 3, 'code_type': 'nii', 'code_number': '0010102', 'institution_name': '北海道教育大学'}, {'index': 4, 'code_type': 'mext', 'code_number': '10102', 'institution_name': '北海道教育大学'}, {'index': 5, 'code_type': 'jsps', 'code_number': '10102', 'institution_name': '北海道教育大学'}, {'index': 6, 'code_type': 'nii', 'code_number': '0010103', 'institution_name': '室蘭工業大学'}, {'index': 7, 'code_type': 'mext', 'code_number': '10103', 'institution_name': '室蘭工業大学'}  ... displaying 10 of 6828 total bound parameter sets ...  {'index': 184224, 'code_type': 'nii', 'code_number': '382699', 'institution_name': '国際連合大学サステイナビリティ高等研究所'}, {'index': 184225, 'code_type': 'mext', 'code_number': '82691', 'institution_name': '国際連合大学サステイナビリティ高等研究所'})
2018-05-17 20:45:11,232 INFO sqlalchemy.engine.base.Engine COMMIT