In [1]:
# encoding: utf-8
from lxml import etree
from tqdm import tqdm_notebook as tqdm
import pandas as pd
import numpy as np
import pickle
import glob
import re

In [2]:
def institution(xmlfile):
    tree = etree.parse(xmlfile)
    nsmap = {"xml": "http://www.w3.org/XML/1998/namespace"}
    institutionlist = []
    for grantAward in tree.iterfind("grantAward"):
        awardnumber = grantAward.get("awardNumber")
        if grantAward.find("grantList/grant[@xml:lang='ja']", nsmap) is None:
            row = [
                awardnumber,
                np.NaN,
                np.NaN,
                np.NaN,
                np.NaN,
                np.NaN,
                np.NaN,
                np.NaN,
            ]
            institutionlist.append(row)
        else:
            for grant in grantAward.find("grantList").iterfind("grant[@xml:lang='ja']", nsmap):
                fiscalyear = grant.get("fiscalYear")
                grant_sequence = grant.get("sequence")
                if grant.find("institution") is None:
                    row = [
                        awardnumber,
                        fiscalyear,
                        grant_sequence,
                        np.NaN,
                        np.NaN,
                        np.NaN,
                        np.NaN,
                        np.NaN,
                    ]
                    institutionlist.append(row)

                else:
                    for institution in grant.iterfind("institution"):
                        institution_sequence = institution.get("sequence")
                        institution_niicode = institution.get("niiCode")
                        institution_mextcode = institution.get("mextCode")
                        institution_jspscode = institution.get("jspsCode")
                        institution = institution.text

                        row = [
                            awardnumber,
                            fiscalyear,
                            grant_sequence,
                            institution_sequence,
                            institution_niicode,
                            institution_mextcode,
                            institution_jspscode,
                            institution,
                        ]
                        institutionlist.append(row)
        

    df = pd.DataFrame(institutionlist)
    df.columns = [
        'awardnumber',
        'fiscalyear',
        'grant_sequence',
        'institution_sequence',
        'institution_niicode',
        'institution_mextcode',
        'institution_jspscode',
        'institution',
    ]
    
    pickledfile = 'pickledDF_institution_from_grantlist/' + re.search('[0-9]{4}_[0-9]+-[0-9]+.xml', xmlfile).group() + '.dump'
    df.to_pickle(pickledfile)

In [3]:
import os
import shutil

def cleandir(dirname):
    if os.path.isdir(dirname):
        shutil.rmtree(dirname)
    os.mkdir(dirname)

cleandir('pickledDF_institution_from_grantlist')

In [4]:
for xmlfile in tqdm(glob.glob('xml/201*.xml')):
    institution(xmlfile)

HBox(children=(IntProgress(value=0, max=295), HTML(value='')))

C:\Users\OWNER\Anaconda3\lib\site-packages\tqdm\_monitor.py:89: TqdmSynchronisationWarning: Set changed size during iteration (see https://github.com/tqdm/tqdm/issues/481)
  TqdmSynchronisationWarning)

In [5]:
columns = [
    'awardnumber',
    'fiscalyear',
    'grant_sequence',
    'institution_sequence',
    'institution_niicode',
    'institution_mextcode',
    'institution_jspscode',
    'institution',
]
df = pd.DataFrame(columns=columns)

for dump in tqdm(glob.glob('pickledDF_institution_from_grantlist//*.dump')):
    with open(dump, mode='rb') as f:
        df = pd.concat([df, pickle.load(f)])

HBox(children=(IntProgress(value=0, max=295), HTML(value='')))

In [6]:
df.to_pickle('beforeCleaning/parse_institution_from_grantlist.dump')

In [7]:
with open('beforeCleaning/parse_institution_from_grantlist.dump', mode='rb') as f:
    df = pickle.load(f)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237652 entries, 0 to 499
Data columns (total 8 columns):
awardnumber             237652 non-null object
fiscalyear              237652 non-null object
grant_sequence          237652 non-null object
institution_sequence    237421 non-null object
institution_niicode     236442 non-null object
institution_mextcode    236465 non-null object
institution_jspscode    224534 non-null object
institution             237421 non-null object
dtypes: object(8)
memory usage: 16.3+ MB

In [9]:
df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237652 entries, 0 to 499
Data columns (total 8 columns):
awardnumber             237652 non-null object
fiscalyear              237652 non-null object
grant_sequence          237652 non-null object
institution_sequence    237652 non-null object
institution_niicode     237652 non-null object
institution_mextcode    237652 non-null object
institution_jspscode    237652 non-null object
institution             237652 non-null object
dtypes: object(8)
memory usage: 16.3+ MB

In [10]:
df = df.astype({
    'fiscalyear': np.int64,
    'grant_sequence': np.int64,
    'institution_sequence': np.int64,
    'institution_niicode': np.int64,
    'institution_mextcode': np.int64,
    'institution_jspscode': np.int64,    
})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237652 entries, 0 to 499
Data columns (total 8 columns):
awardnumber             237652 non-null object
fiscalyear              237652 non-null int64
grant_sequence          237652 non-null int64
institution_sequence    237652 non-null int64
institution_niicode     237652 non-null int64
institution_mextcode    237652 non-null int64
institution_jspscode    237652 non-null int64
institution             237652 non-null object
dtypes: int64(6), object(2)
memory usage: 16.3+ MB

In [11]:
oldest = df.groupby('awardnumber')['fiscalyear'].min().reset_index()
oldest

       awardnumber  fiscalyear
0         13J06029        2013
1         13J06768        2014
2         13J08587        2013
3         13J08700        2013
4         13J09000        2014
5         13J40009        2014
6         13J40018        2014
7         13J40059        2014
8         13J40187        2014
9         14F02732        2014
10        14F02770        2014
11        14F02786        2014
12        14F02810        2014
13        14F02816        2014
14        14F03086        2014
15        14F03306        2014
16        14F03355        2014
17        14F03360        2014
18        14F03362        2014
19        14F03381        2014
20        14F03386        2014
21        14F03391        2014
22        14F03399        2014
23        14F03406        2014
24        14F03511        2014
25        14F03724        2014
26        14F03764        2014
27        14F03772        2014
28        14F03777        2014
29        14F03781        2014
...            ...         ...
146097        3802        2016
146098        3803        2016
146099        3804        2016
146100        3805        2016
146101        3806        2016
146102        3901        2017
146103        3902        2017
146104        3903        2017
146105        3904        2017
146106        3905        2017
146107        4601        2014
146108        4602        2014
146109        4603        2014
146110        4701        2015
146111        4702        2015
146112        4703        2015
146113        4704        2015
146114        4705        2015
146115        4801        2016
146116        4802        2016
146117        4803        2016
146118        4804        2016
146119        4805        2016
146120        4806        2016
146121        4901        2017
146122        4902        2017
146123        4903        2017
146124        4904        2017
146125        4905        2017
146126        4906        2017

[146127 rows x 2 columns]

In [12]:
df = pd.merge(oldest, df, on=['awardnumber', 'fiscalyear'])
df

,awardnumber,fiscalyear,grant_sequence,institution_sequence,institution_niicode,institution_mextcode,institution_jspscode,institution
0,13J06029,2013,1,1,12613,12613,12613,一橋大学
1,13J06768,2014,1,1,12611,12611,12611,お茶の水女子大学
2,13J08587,2013,1,1,14501,14501,14501,神戸大学
3,13J08700,2013,1,1,34416,34416,34416,関西大学
4,13J09000,2014,1,1,12601,12601,12601,東京大学
5,13J40009,2014,1,1,12102,12102,12102,筑波大学
6,13J40018,2014,1,1,14301,14301,14301,京都大学
7,13J40059,2014,1,1,12608,12608,12608,東京工業大学
8,13J40187,2014,1,1,12601,12601,12601,東京大学
9,14F02732,2014,1,1,12601,12601,12601,東京大学
10,14F02770,2014,1,1,22604,22604,22604,首都大学東京
11,14F02786,2014,1,1,14301,14301,14301,京都大学
12,14F02810,2014,1,1,12601,12601,12601,東京大学
13,14F02816,2014,1,1,12601,12601,12601,東京大学
14,14F03086,2014,1,1,15401,15401,15401,広島大学
15,14F03306,2014,1,1,32641,32641,32641,中央大学
16,14F03355,2014,1,1,14401,14401,14401,大阪大学
17,14F03360,2014,1,1,13801,13801,13801,静岡大学
18,14F03362,2014,1,1,13201,13201,13201,富山大学
19,14F03381,2014,1,1,63801,63801,63801,国立遺伝学研究所
20,14F03386,2014,1,1,13901,13901,13901,名古屋大学
21,14F03391,2014,1,1,13904,13904,13904,豊橋技術科学大学
22,14F03399,2014,1,1,14403,14403,14403,大阪教育大学
23,14F03406,2014,1,1,32665,32665,32665,日本大学
24,14F03511,2014,1,1,182609,82609,82609,公益財団法人東京都医学総合研究所
25,14F03724,2014,1,1,31302,31302,31302,東北学院大学
26,14F03764,2014,1,1,13201,13201,13201,富山大学
27,14F03772,2014,1,1,82706,82706,0,独立行政法人海洋研究開発機構
28,14F03777,2014,1,1,30109,30109,30109,酪農学園大学
29,14F03781,2014,1,1,12608,12608,12608,東京工業大学
...,...,...,...,...,...,...,...,...
146097,3802,2016,1,0,0,0,0,0
146098,3803,2016,1,0,0,0,0,0
146099,3804,2016,1,0,0,0,0,0
146100,3805,2016,1,0,0,0,0,0
146101,3806,2016,1,0,0,0,0,0
146102,3901,2017,1,0,0,0,0,0
146103,3902,2017,1,0,0,0,0,0
146104,3903,2017,1,0,0,0,0,0
146105,3904,2017,1,0,0,0,0,0
146106,3905,2017,1,0,0,0,0,0
146107,4601,2014,1,0,0,0,0,0
146108,4602,2014,1,0,0,0,0,0
146109,4603,2014,1,0,0,0,0,0
146110,4701,2015,1,0,0,0,0,0
146111,4702,2015,1,0,0,0,0,0
146112,4703,2015,1,0,0,0,0,0
146113,4704,2015,1,0,0,0,0,0
146114,4705,2015,1,0,0,0,0,0
146115,4801,2016,1,0,0,0,0,0
146116,4802,2016,1,0,0,0,0,0
146117,4803,2016,1,0,0,0,0,0
146118,4804,2016,1,0,0,0,0,0
146119,4805,2016,1,0,0,0,0,0
146120,4806,2016,1,0,0,0,0,0
146121,4901,2017,1,0,0,0,0,0
146122,4902,2017,1,0,0,0,0,0
146123,4903,2017,1,0,0,0,0,0
146124,4904,2017,1,0,0,0,0,0
146125,4905,2017,1,0,0,0,0,0
146126,4906,2017,1,0,0,0,0,0

In [13]:
df.duplicated().any()

False

In [14]:
df['awardnumber'].nunique(dropna=False)

146127

In [15]:
df = df.set_index('awardnumber')
df

,fiscalyear,grant_sequence,institution_sequence,institution_niicode,institution_mextcode,institution_jspscode,institution
awardnumber,,,,,,,
13J06029,2013,1,1,12613,12613,12613,一橋大学
13J06768,2014,1,1,12611,12611,12611,お茶の水女子大学
13J08587,2013,1,1,14501,14501,14501,神戸大学
13J08700,2013,1,1,34416,34416,34416,関西大学
13J09000,2014,1,1,12601,12601,12601,東京大学
13J40009,2014,1,1,12102,12102,12102,筑波大学
13J40018,2014,1,1,14301,14301,14301,京都大学
13J40059,2014,1,1,12608,12608,12608,東京工業大学
13J40187,2014,1,1,12601,12601,12601,東京大学
14F02732,2014,1,1,12601,12601,12601,東京大学
14F02770,2014,1,1,22604,22604,22604,首都大学東京
14F02786,2014,1,1,14301,14301,14301,京都大学
14F02810,2014,1,1,12601,12601,12601,東京大学
14F02816,2014,1,1,12601,12601,12601,東京大学
14F03086,2014,1,1,15401,15401,15401,広島大学
14F03306,2014,1,1,32641,32641,32641,中央大学
14F03355,2014,1,1,14401,14401,14401,大阪大学
14F03360,2014,1,1,13801,13801,13801,静岡大学
14F03362,2014,1,1,13201,13201,13201,富山大学
14F03381,2014,1,1,63801,63801,63801,国立遺伝学研究所
14F03386,2014,1,1,13901,13901,13901,名古屋大学
14F03391,2014,1,1,13904,13904,13904,豊橋技術科学大学
14F03399,2014,1,1,14403,14403,14403,大阪教育大学
14F03406,2014,1,1,32665,32665,32665,日本大学
14F03511,2014,1,1,182609,82609,82609,公益財団法人東京都医学総合研究所
14F03724,2014,1,1,31302,31302,31302,東北学院大学
14F03764,2014,1,1,13201,13201,13201,富山大学
14F03772,2014,1,1,82706,82706,0,独立行政法人海洋研究開発機構
14F03777,2014,1,1,30109,30109,30109,酪農学園大学
14F03781,2014,1,1,12608,12608,12608,東京工業大学
...,...,...,...,...,...,...,...
3802,2016,1,0,0,0,0,0
3803,2016,1,0,0,0,0,0
3804,2016,1,0,0,0,0,0
3805,2016,1,0,0,0,0,0
3806,2016,1,0,0,0,0,0
3901,2017,1,0,0,0,0,0
3902,2017,1,0,0,0,0,0
3903,2017,1,0,0,0,0,0
3904,2017,1,0,0,0,0,0
3905,2017,1,0,0,0,0,0
4601,2014,1,0,0,0,0,0
4602,2014,1,0,0,0,0,0
4603,2014,1,0,0,0,0,0
4701,2015,1,0,0,0,0,0
4702,2015,1,0,0,0,0,0
4703,2015,1,0,0,0,0,0
4704,2015,1,0,0,0,0,0
4705,2015,1,0,0,0,0,0
4801,2016,1,0,0,0,0,0
4802,2016,1,0,0,0,0,0
4803,2016,1,0,0,0,0,0
4804,2016,1,0,0,0,0,0
4805,2016,1,0,0,0,0,0
4806,2016,1,0,0,0,0,0
4901,2017,1,0,0,0,0,0
4902,2017,1,0,0,0,0,0
4903,2017,1,0,0,0,0,0
4904,2017,1,0,0,0,0,0
4905,2017,1,0,0,0,0,0
4906,2017,1,0,0,0,0,0

In [16]:
pd.crosstab(df['grant_sequence'], df['fiscalyear'], margins=True)

fiscalyear      2011  2013   2014   2015   2016   2017   2018     All
grant_sequence
1                  1    15  29669  30708  30917  28984  25833  146127
All                1    15  29669  30708  30917  28984  25833  146127

In [17]:
pd.crosstab(df['institution_sequence'], df['fiscalyear'], margins=True)

fiscalyear            2011  2013   2014   2015   2016   2017   2018     All
institution_sequence
0                        0     1     24     21     29     28      6     109
1                        1    14  29645  30687  30888  28956  25827  146018
All                      1    15  29669  30708  30917  28984  25833  146127

In [18]:
pd.crosstab(df['institution_niicode'], df['fiscalyear'], margins=True)

fiscalyear           2011  2013   2014   2015   2016   2017   2018     All
institution_niicode
0                       0     1    242    240    243    231    129    1086
10101                   0     0    751    698    751    646    579    3425
10102                   0     0     33     40     44     28     27     172
10103                   0     0     25     26     33     16     17     117
10104                   0     0     15     10     10     16     11      62
10105                   0     0     26     24     20     22     29     121
10106                   0     0     15     30     22     14     22     103
10107                   0     0     51     68     49     59     54     281
11101                   0     0    128    119    116    129    123     615
11201                   0     0     63     59     73     61     48     304
11301                   0     1   1065   1115   1123    988    818    5110
11302                   0     0     11     24      8     15     12      70
11401                   0     0    110     95     95    105     83     488
11501                   0     0    160    162    161    136    124     743
11601                   0     0     27     42     33     26     26     154
12101                   0     0     71     61     97     82     55     366
12102                   0     0    538    525    586    491    425    2565
12103                   0     0     19     14     13      7     17      70
12201                   0     0     50     56     61     55     42     264
12301                   0     0    172    186    154    153    136     801
12401                   0     0     94    105    114     88     76     477
12501                   0     2    347    369    352    348    268    1686
12601                   0     2   1990   2069   1971   1877   1705    9614
12602                   0     0    259    286    263    250    211    1269
12603                   0     0     46     53     61     56     52     268
12604                   0     0     67     47     56     63     53     286
12605                   0     0    147    136    150    128    100     661
12608                   0     0    464    431    386    423    311    2015
12611                   0     0     67     58     51     44     60     280
12612                   0     0     87     77     84     89     66     403
...                   ...   ...    ...    ...    ...    ...    ...     ...
382891                  0     0      2      0      1      0      0       3
382892                  0     0      2      3      3      2      1      11
382894                  0     0      1      0      0      0      0       1
382895                  0     0      1      1      0      0      2       4
382896                  0     0      1      0      0      0      0       1
382897                  0     0      2      0      0      0      0       2
382898                  0     0      0      1      0      0      1       2
382899                  0     0      0      1      0      0      0       1
382900                  0     0      0      1      0      0      0       1
382903                  0     0      1      0      0      0      0       1
382904                  0     0      0      0      0      0      1       1
382905                  0     0      0      0      0      1      1       2
382911                  0     0      5      3      3      3      3      17
382914                  0     0      0      0      0      0      1       1
382915                  0     0      0      0      0      0      2       2
382916                  0     0      0      0      0      0     19      19
382917                  0     0      0      0      0      0      1       1
382918                  0     0      0      0      0      0      1       1
382920                  0     0      0      0      0      0      5       5
382922                  0     0      0      0      0      0      1       1
382924                  0     0      0      0      0      0      1       1
382927                  0     0      0      0      0      0      1       1
382928                  0     0      0      0      0      0      2       2
382929                  0     0      0      0      0      0      1       1
382930                  0     0      0      0      0      0      2       2
382931                  0     0      0      0      0      1      1       2
382932                  0     0      0      0      0      0      1       1
382933                  0     0      0      0      0      0      1       1
382934                  0     0      0      0      0      0      2       2
All                     1    15  29669  30708  30917  28984  25833  146127

[1482 rows x 8 columns]

In [19]:
pd.crosstab(df['institution_mextcode'], df['fiscalyear'], margins=True)

fiscalyear            2011  2013   2014   2015   2016   2017   2018     All
institution_mextcode
0                        0     1    235    240    243    215    129    1063
10101                    0     0    751    698    751    646    579    3425
10102                    0     0     33     40     44     28     27     172
10103                    0     0     25     26     33     16     17     117
10104                    0     0     15     10     10     16     11      62
10105                    0     0     26     24     20     22     29     121
10106                    0     0     15     30     22     14     22     103
10107                    0     0     51     68     49     59     54     281
11101                    0     0    128    119    116    129    123     615
11201                    0     0     63     59     73     61     48     304
11301                    0     1   1065   1115   1123    988    818    5110
11302                    0     0     11     24      8     15     12      70
11401                    0     0    110     95     95    105     83     488
11501                    0     0    160    162    161    136    124     743
11601                    0     0     27     42     33     26     26     154
12101                    0     0     71     61     97     82     55     366
12102                    0     0    538    525    586    491    425    2565
12103                    0     0     19     14     13      7     17      70
12201                    0     0     50     56     61     55     42     264
12301                    0     0    172    186    154    153    136     801
12401                    0     0     94    105    114     88     76     477
12501                    0     2    347    369    352    348    268    1686
12601                    0     2   1990   2069   1971   1877   1705    9614
12602                    0     0    259    286    263    250    211    1269
12603                    0     0     46     53     61     56     52     268
12604                    0     0     67     47     56     63     53     286
12605                    0     0    147    136    150    128    100     661
12606                    0     0     34     45     35     36     30     180
12608                    0     0    464    431    386    423    311    2015
12611                    0     0     67     58     51     44     60     280
...                    ...   ...    ...    ...    ...    ...    ...     ...
92618                    0     0      0      0      0      0      1       1
92628                    0     0      1      0      0      0      1       2
92630                    0     0      0      0      0      1      0       1
92636                    0     0      0      0      1      0      1       2
92637                    0     0      1      0      0      0      1       2
92641                    0     0      1      0      0      0      0       1
92645                    0     0      0      0      0      0      1       1
92704                    0     0      6      5      8      3      2      24
92707                    0     0      0      1      1      0      0       2
92717                    0     0      0      0      0      1      0       1
93801                    0     0      1      0      0      0      0       1
93901                    0     0      5      4      1      1      4      15
93903                    0     0      1      0      1      2      1       5
94301                    0     0     16     13     11      7      8      55
94304                    0     0      0      0      0      0      1       1
94305                    0     0      3      4      3      4      3      17
94309                    0     0      2      2      3      3      0      10
94311                    0     0      1      0      0      0      0       1
94313                    0     0      0      0      0      2      1       3
94314                    0     0      0      0      0      0      1       1
94404                    0     0      1      2      1      0      3       7
94407                    0     0      1      1      0      0      0       2
94409                    0     0      1      0      0      0      0       1
94411                    0     0      3      0      0      0      0       3
94416                    0     0      0      0      0      0      3       3
94505                    0     0      0      0      1      0      0       1
94506                    0     0      0      1      2      1      0       4
94601                    0     0      0      0      0      1      0       1
95401                    0     0      3      1      2      2      2      10
All                      1    15  29669  30708  30917  28984  25833  146127

[1414 rows x 8 columns]

In [20]:
pd.crosstab(df['institution_jspscode'], df['fiscalyear'], margins=True)

fiscalyear            2011  2013   2014   2015   2016   2017   2018     All
institution_jspscode
0                        0     1   2019   1783   1699   1621   1412    8535
10101                    0     0    751    698    751    646    579    3425
10102                    0     0     33     40     44     28     27     172
10103                    0     0     25     26     33     16     17     117
10104                    0     0     15     10     10     16     11      62
10105                    0     0     26     24     20     22     29     121
10106                    0     0     15     30     22     14     22     103
10107                    0     0     51     68     49     59     54     281
11101                    0     0    128    119    116    129    123     615
11201                    0     0     63     59     73     61     48     304
11301                    0     1   1065   1115   1123    988    818    5110
11302                    0     0     11     24      8     15     12      70
11401                    0     0    110     95     95    105     83     488
11501                    0     0    160    162    161    136    124     743
11601                    0     0     27     42     33     26     26     154
12101                    0     0     71     61     97     82     55     366
12102                    0     0    538    525    586    491    425    2565
12103                    0     0     19     14     13      7     17      70
12201                    0     0     50     56     61     55     42     264
12301                    0     0    172    186    154    153    136     801
12401                    0     0     94    105    114     88     76     477
12501                    0     2    347    369    352    348    268    1686
12601                    0     2   1990   2069   1971   1877   1705    9614
12602                    0     0    259    286    263    250    211    1269
12603                    0     0     46     53     61     56     52     268
12604                    0     0     67     47     56     63     53     286
12605                    0     0    147    136    150    128    100     661
12606                    0     0     34     45     35     36     30     180
12608                    0     0    464    431    386    423    311    2015
12611                    0     0     67     58     51     44     60     280
...                    ...   ...    ...    ...    ...    ...    ...     ...
92506                    0     0      1      0      1      0      0       2
92604                    0     0      1      1      1      1      0       4
92605                    0     0      3      0      0      1      0       4
92618                    0     0      0      0      0      0      1       1
92628                    0     0      1      0      0      0      1       2
92630                    0     0      0      0      0      1      0       1
92636                    0     0      0      0      1      0      1       2
92637                    0     0      1      0      0      0      1       2
92641                    0     0      1      0      0      0      0       1
92645                    0     0      0      0      0      0      1       1
92704                    0     0      6      5      8      3      2      24
92707                    0     0      0      1      1      0      0       2
92717                    0     0      0      0      0      1      0       1
93801                    0     0      1      0      0      0      0       1
93901                    0     0      5      4      1      1      4      15
93903                    0     0      1      0      1      2      1       5
94301                    0     0     16     13     11      7      8      55
94304                    0     0      0      0      0      0      1       1
94305                    0     0      3      4      3      4      3      17
94309                    0     0      2      2      3      3      0      10
94311                    0     0      1      0      0      0      0       1
94404                    0     0      1      2      1      0      3       7
94407                    0     0      1      1      0      0      0       2
94409                    0     0      1      0      0      0      0       1
94411                    0     0      3      0      0      0      0       3
94505                    0     0      0      0      1      0      0       1
94506                    0     0      0      1      2      1      0       4
94601                    0     0      0      0      0      1      0       1
95401                    0     0      3      1      2      2      2      10
All                      1    15  29669  30708  30917  28984  25833  146127

[1063 rows x 8 columns]

In [21]:
kyodai = df[df['institution_niicode'] == 14301]
pd.crosstab(kyodai['institution'], kyodai['institution_niicode'])

institution_niicode  14301
institution
京都大学                  6815
京都大学医学研究科                1
京都大学医学部附属病院              2

In [22]:
todai = df[df['institution_niicode'] == 12601]
pd.crosstab(todai['institution'], todai['institution_niicode'])

institution_niicode  12601
institution
東京大学                  9613
東京大学大学院 工学系研究科           1

In [23]:
df.query('institution_niicode == 12601 & institution == "秋田県立大学"')

Empty DataFrame
Columns: [fiscalyear, grant_sequence, institution_sequence, institution_niicode, institution_mextcode, institution_jspscode, institution]
Index: []

In [24]:
df.query('institution_niicode == 12601 & institution == "鹿児島大学"')

Empty DataFrame
Columns: [fiscalyear, grant_sequence, institution_sequence, institution_niicode, institution_mextcode, institution_jspscode, institution]
Index: []

In [25]:
df.to_pickle('afterCleaning/parse_institution_from_grantlist.dump')